<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- SEO Meta Tags -->
  <title>{{ page.title }} | Jhattse Business - Restaurant Management Software</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Jhattse Business">
  
  <!-- Open Graph Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} | Jhattse Business">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="Jhattse Business">
  <meta property="og:image" content="{{ site.url }}/assets/og-image.jpg">
  <meta property="og:image:alt" content="Jhattse Business Restaurant Management Software">
  <meta property="og:locale" content="en_IN">
  
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }} | Jhattse Business">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/og-image.jpg">
  <meta name="twitter:creator" content="@jhattse">
  <meta name="twitter:site" content="@jhattse">
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  
  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
